$day-width: 100px;
$day-height: $day-width;
$calendar-padding: 10px;
$calendar-gap: 1px;
$border-color: black;
$background-color: #eee;
$background-color-hover: #ffbfcb;
$font-size: 30px;
$font-family: Arial, sans-serif;
